
h1 {
	font-size: 4em;
}

table, td {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
}
td {
	width: 67px;
	height: 67px;
}

#tableId tr > td > button {
	background-color: white;
	border: none;
	width: 2em;
	height: 2em;
	
}